<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.fl.dao.ChapterDao">
    <!--添加章节-->
    <insert id="insertChapter" parameterType="com.baizhi.fl.entity.Chapter">
        insert into chapter values(#{id},#{name},#{size},#{url},#{length},#{times},#{createTime},#{albumId})
    </insert>



</mapper>
